<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2020.1.0" targetFramework="net472" />
  <package id="MvvmNavigation.Abstractions" version="3.5.1" targetFramework="net472" />
  <package id="MvvmNavigation.Core" version="3.5.1" targetFramework="net472" />
  <package id="MvvmNavigation.Wpf" version="3.5.1" targetFramework="net472" />
</packages>